@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .leading-relaxed {
    line-height: 1.75;
  }
  
  @media (max-width: 640px) {
    .text-base {
      font-size: 14px;
    }
  }
  
  @media (min-width: 641px) {
    .text-lg {
      font-size: 16px;
    }
  }
}

